body {
	background-color: none;
	font-family: Verdana, sans-serif;
}

h2 {
	text-align: center;
	margin-top: 100px;
}

.mainbox {
	margin: 0px 100px;
	padding: 20px;
	border: 1px solid black;
	height: 290px;
	background-color: #c7c7c7;
}

.box {
	margin: 10px;
	padding: 0;
	border: 1px solid black;
	width: 250px;
	height: 270px;
	float: left;
	background-color: #dddddd;
}

.img {
	margin-left: 50px;
	margin-top: 10px;
	height: 150px;
	width: 150px;
	text-align: center;
}

p {
	font-size: 20px;
	text-align: center;
}

.btn {
	text-align: center;
	height: 30px;
	width: 150px;
	margin-left: 50px;
	border: 1px solid black;
	cursor: pointer;
}

.btnright {
	float: right;
	margin-right: 30px;
}

#QuantityPopup {
	width: 20%;
	padding: 25px 0;
	text-align: center;
	background-color: #c7c7c7;
	margin-top: 20px;
	position: absolute;
	top: 107px;
	max-width: 20%;
	margin: 0 0 0 530px;
	opacity: 0.9;
}

#NamePopup {
	width: 20%;
	padding: 25px 0;
	text-align: center;
	background-color: #c7c7c7;
	margin-top: 20px;
	position: absolute;
	top: 107px;
	max-width: 20%;
	margin: 0 0 0 530px;
	opacity: 0.9;
}

#reciptBox {
	width: 30%;
	text-align: center;
	background-color: #c7c7c7;
	margin-top: 20px;
	position: absolute;
	top: 150px;
	max-width: 50%;
	margin: 0 0 0 465px;
	opacity: 1;
}

.reciptBox {
	margin: 20px;
	/* padding: 70px; */
	border: 1px solid black;
	height: 235px;
	background-color: #c7c7c7;
}

.popupbtn {
	text-align: center;
	height: 22px;
	width: 55px;
	border: 1px solid black;
	cursor: pointer;
	float: right;
	margin-right: 10px;
}

.txt {
	padding: 5px;
	margin-bottom: 10px;
}

h3,
h4 {
	text-align: left;
	margin-left: 20px;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}

table {
	width: 330px;
	margin-left: 17px;
}